<div class="c_custom-article-header c_custom-article-header--guides">
  <h2>{{article.title}}<br/>{{dc 'guides_manuals_header'}}</h2>
</div>
<div class="c_custom-article c_custom-article--userguideArticle">
  <div class="c_custom-article-content">          
    {{article.body}}
  </div>
</div>
