<section class="c_hero c_hero--guide">
  <div class="c_hero-inner">
    <div class="c_hero-message">
        {{article.title}}<br/>{{dc 'guides_manuals_header'}}
    </div>
  </div>
</section>

<div class="c_custom-article c_custom-article--userguideArticle">
<div class="c_custom-article-content">
    <div class="container">
        {{article.body}}
    </div>
</div>
</div>
