<div class="container">
  <div class="c_custom-article-header">
    <h2>{{dc 'user_guide_download_title'}}</h2>
    <p>{{dc 'user_guide_download_description'}}</p>
  </div>
  <div class="c_userGuide">    
    <a href="#">Not sure which product you have? Use our guide to find out <img src="http://localhost:4567/guide/assets/arrow-forward-dark.svg" alt=""></a>
  </div>  
  <div class="c_custom-article c_custom-article--userguide">
    <div class="c_custom-article-content">
      {{article.body}}
    </div>
  </div>
</div>
