.article-steps-body ol {
    margin: 0;
    padding: 0;
}

.article-steps-body li {
    list-style: none;
    border-bottom: 1px solid #dedede;
    padding: 50px 0 30px 55px;
    position: relative;
    overflow: hidden;
}

.article-steps-body li > strong {
    position: absolute;
    left: 0;
    top: 35px;
    font-size: 60px;
    font-weight: normal;
    color: #0070c9;
}

.article-steps-body li h1 {
    margin: 0;
    padding: 0;
    line-height: 1.25;
}

.article-steps-body li > img {
    float: right;
    max-width: 45%;
    margin-top: 10px;
}

.article-steps-body li h1,
.article-steps-body li p,
.article-steps-body li ul {
    float: left;
    max-width: 50%;
}

.article-simple-steps-body {

    ol {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            border-bottom: 1px solid #dedede;
            padding: 50px 0 30px 0;
            position: relative;
            overflow: hidden;

            > img {
                float: right;
                max-width: 45%;
                margin-top: 10px;
            }

            h1,
            p,
            ul {
                float: left;
                max-width: 50%;
            }

        }
    }

}