/***** Breadcrumbs *****/
.breadcrumbs {
  margin: 0 0 32px 0;
  padding: 0;  

  li {
    color: #737373;
    display: inline;
    font-weight: normal;
    font-size: 14px;
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;

    + li::before {
      content: "/";
      margin: 0 4px;
    }

    a {
      text-decoration: none;
      color:  #737373;
    }

    a:hover {
      text-decoration: none;
      color: $black;
    }

  }
}

.c_breadcrumb {
  &--article {
    margin:24px 0 32px 0;
  }   
}
