/* Navigation element that collapses on mobile */
.collapsible-nav {
  @include tablet {
    flex-direction: row;
  }

  flex-direction: column;
  font-size: $font-size-navigation;
  position: relative;
}

.collapsible-nav-border {
  @include tablet {
    border-top: 0;
  }

  border-bottom: 1px solid $border-color;
  border-top: 1px solid $border-color;
}

.collapsible-nav-toggle {
  @include tablet { display: none; }
  top: calc(45px / 2);
  transform: translateY(-50%);
  position: absolute;
  right: 0;
  padding: 0;
  border: 0;
  background: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;

  [dir="rtl"] & {
    left: 0;
    right: auto;
  }

  &::after {
    content: '';
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' focusable='false' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' d='M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5'/%3E%3C/svg%3E");
    display: block;
    width: 100%;
    height: 100%;
  }

  &:focus {
    outline: none;
    border: 1px solid $brand_color;
  }
}

.collapsible-nav-list {
  @include tablet {
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;

  li {
    @include tablet {
      line-height: normal;
      margin-right: 30px;

      [dir="rtl"] & {
        margin-left: 30px;
        margin-right: 0;
      }

      a {
        text-decoration: none;
        padding: 15px 0;
      }
    }

    color: $text_color;
    line-height: 45px;
    order: 1; // All elements have the same order

    a {
      color: $text_color;
      display: block;
    }
  }

  li:hover {
    @include tablet {
      border-bottom: 4px solid #ddd;

      a {
        padding: 15px 0 11px 0;
        text-decoration: none;
      }
    }
  }

  li:not([aria-selected="true"]) {
    @include tablet { display: block; }
    display: none;
  }

  li[aria-selected="true"] {
    @include tablet {
      border-bottom: 4px solid $brand_color;
      order: 1;
      padding: 15px 0 11px 0;
    }

    order: 0; //Move to top of menu
    position: relative;

    a { color: $text_color; }
  }
}

.collapsible-nav[aria-expanded="true"] {

  .collapsible-nav-toggle::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' focusable='false' viewBox='0 0 16 16'%3E%3Cpath stroke='currentColor' stroke-linecap='round' d='M3 13L13 3m0 10L3 3'/%3E%3C/svg%3E");
  }

  li:not([aria-selected="true"]) {
    display: block;
  }
}
