.c_cookiePolicy {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background: $black;
    color: $white;
    padding: 16px 0;
    font-size: 14px;
    display: none;

    a {
        color: $white;
        text-decoration: underline;
    }
    
    .container {
        position: relative;
    }

    &-close {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 18px;

        img {
            display: block;
        }

    }

}