.c_custom-article {

    &.c_custom-article--userguide {

        .c_custom-article-content {

            h1,
            p {
                text-align: center;
                margin: 0;
                padding: 0;
            }            

            h1 {
                font-size: 40px;
                line-height: 48px;
                letter-spacing: 1px;
                color: $black;
                margin-bottom: 20px;
            }

            h2 {
                font-size: 32px;
                line-height: 40px;
                letter-spacing: 1px;
                color: $black;
                margin-bottom: 20px;
                font-weight: 500;
            }

            p {
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.4px;
                color: $dark-gray;
                margin-bottom: 24px;
            }

            ol {
                margin: 0 0 48px 0;
                padding: 0;

                li {
                    list-style: none;
                    width: calc(25% - 4px);
                    display: inline-block;
                    vertical-align: top;
                    margin-bottom: 15px;

                    a {
                        color: $dark-gray;
                        text-decoration: none;

                        &:hover {
                            color: $black;
                            text-decoration: underline;
                        }
                    }
                }

            }
            

        }

    }

    &.c_custom-article--userguideArticle {

        padding: 48px 0;

        h2 {
            font-size: 32px;
            line-height: 40px;
            letter-spacing: 1px;
            color: $black;
            margin-bottom: 32px;
            font-weight: 500;
            text-align: center;
        }

        .article-manuals {

            text-align: center;
            margin-bottom: 128px;

            h2 {
                font-size: 32px;
                line-height: 40px;
                letter-spacing: 1px;
                color: $black;
                margin-bottom: 32px;
                font-weight: 500;
            }

            ul {
                margin: 0;
                padding: 0;

                li {
                    list-style: none;
                    display: inline-block;
                    vertical-align: middle;
                    width: calc(33.33% - 33px);
                    margin-left: 44px;
                    text-align: left;
                    font-weight: 500;

                    &:first-child {
                        margin-left: 0;
                    }

                    a {
                        font-weight: normal;
                        text-decoration: none;
                        border: 2px solid $black;
                        color: $black;
                        padding: 8px 12px;
                        display: inline-block;
                        margin-top: 5px;
                    }

                }

            }

        }

        .article-software {

            column-count: 2;
            column-gap: 40px;

        }

    }

}