/***** Footer *****/
.c_footer {
  background: $light-gray;  
  padding: 54px 0 22px 0;

  a { color: $secondary-text-color; }

  &-inner {
    @include max-width-container;
    display: flex;
    justify-content: space-between;
  }

  &-language-selector {
    color: $secondary-text-color;
    display: inline-block;
    font-weight: $font-weight-light;
  }
}
