/***** Hero component *****/
.hero {
  background-image: url($homepage_background_image);
  background-position: center;
  background-size: cover;
  height: 300px;
  padding: 0 20px;
  text-align: center;
  width: 100%;

  &-inner {
    @include vertical-align;
    max-width: 610px;
    margin: 0 auto;

    &-message {
      font-size: 1.75em;
      color: $text_color;
      margin-bottom: 10px;
      font-weight: 500;
    }

  }
}

.c_hero {

  position: relative;

  &-content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);

    h1 {
      font-weight: 700;
      font-size: 3em;
      margin: 0;
      padding: 0;
    }
  }

  &-visual {

    img {
      display: block;
      width: 100%;
    }

  }

}