/***** Homepage *****/

.section {
  @include tablet {
    margin-bottom: 60px;
  }

  margin-bottom: 40px;
}

.home-section h2 {
  margin-bottom: 10px;
  text-align: center;
}

/***** Category List *****/

.c_products {

  margin-bottom: 128px;

  ul {
    margin: 0;
    padding: 0;
    text-align: left;

    .c_products-item {
      list-style: none;
      display: inline-block;
      width: calc(25% - 19px);
      margin: 12px 15px 12px 0;
      vertical-align: top;
      background: $light-gray;

      &:nth-child(4n) {
        margin-right: 0;
      }

      &:hover {
        background: rgba($black, 0.035);
      }

    }

    .c_products-itemLink {
      text-decoration: none;
      color: $text_color;
    }

    .c_products-itemVisual {
      margin-bottom: -20px;      
      position: relative;
      overflow: hidden;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 70%;
      }

    }

    .c_products-itemTitle {
      font-size: 14px;
      font-weight: 500;
      color: $black;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 0;
      padding: 0 32px 32px;
      text-align: right;

      img {
        max-width: 24px;
      }

    }

  }

  &.c_products--small {

    ul {
      .c_products-item {
        width: 13.25%;
        margin: 15px calc(0.5% - 2px) 0;
      }
    }

  }

  &.c_products--normal {

    .c_products-itemTitle { 
      text-transform: none;
    }

  }

}

/***** Teaser Block *****/

.c_teaserBlock {
  position: relative;
  overflow: hidden;
  margin-bottom: 128px; 

  &-visual,
  &-content {    
    box-sizing: border-box;
  }

  &-visual {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;

    img {      
      width: 100%;
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      pointer-events: none;
    }
  }

  &-overlay {
    background: rgba($black, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &-content {
    position: absolute;
    width: 40%;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    text-align: center;

    h3 {
      font-size: 48px;
      line-height: 1;
      letter-spacing: 1px;
      font-weight: 300;
      margin: 0 0 32px;
      padding: 0;
      color: $white;
    }

    p {
      font-size: 16px;
      line-height: 1.4;
      margin: 0 0 32px;
      padding: 0;
      letter-spacing: 0.4px;      
      color: $white;
    }

    .c_teaserBlock-cta {
      color: $white;
      border: 2px solid $white;
      padding: 10px 55px 10px 20px;
      display: inline-block;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 1;
      font-weight: 500;
      text-decoration: none;
      position: relative;

      img {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        max-width: 24px;
      }

    }

  }

}

/***** Promoted articles *****/

.promoted-articles {
  @include desktop { flex-direction: row; }
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &-item {
    @include desktop {
      align-self: flex-end;
      flex: 0 0 auto;
      padding-right: 30px;
      width: 33%; /* Three columns on desktop */

      [dir="rtl"] & { padding: 0 0 0 30px; }
    }

    flex: 1 0 auto;

    &:nth-child(3n) {
      padding-right: 0;
    }

    a {
      display: block;
      border-bottom: 1px solid $border-color;
      padding: 15px 0;
      color: $text_color;
    }

    .icon-lock::before {
      vertical-align: baseline;
    }

    &:last-child a {
      @include desktop {
        border-bottom: 1px solid $border-color;
      }

      border: 0;
    }
  }

}

/***** Community section in homepage *****/
.community {
  text-align: center;

  &-image {
    min-height: 300px;
    background-image: url($community_image);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
  }
}

.community,
.activity {
  border-top: 1px solid $border-color;
  padding: 30px 0;
}
