/***** Homepage *****/

.section {
  @include tablet {
    margin-bottom: 60px;
  }

  margin-bottom: 40px;
}

.home-section h2 {
  margin-bottom: 10px;
  text-align: center;
}

/***** Category List *****/

.c_products {

  ul {
    margin: 0;
    padding: 0;
    text-align: left;

    .c_products-item {
      list-style: none;
      display: inline-block;
      width: calc(25% - 19px);
      margin: 12px 15px 12px 0;
      vertical-align: top;
      background: $light-gray;

      &:nth-child(4n) {
        margin-right: 0;
      }

      &:hover {
        background: rgba($black, 0.035);
      }

    }

    .c_products-itemLink {
      text-decoration: none;
      color: $text_color;
    }

    .c_products-itemVisual {
      margin-bottom: -20px;      
      position: relative;
      overflow: hidden;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 70%;
      }

    }

    .c_products-itemTitle {
      font-size: $font-size-small;
      font-weight: 600;
      color: $text_color;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 0;
      padding: 0 50px 24px;
      text-align: right;
    }

  }

  &.c_products--small {

    ul {
      .c_products-item {
        width: 13.25%;
        margin: 15px calc(0.5% - 2px) 0;
      }
    }

  }

}

/***** Teaser Block *****/

.c_teaserBlock {

  overflow: hidden;
  background: $light-gray;

  &-visual,
  &-content {
    display: inline-block;
    width: calc(50% - 4px);
    vertical-align: middle;
    box-sizing: border-box;
  }  

  &-content {
    padding: 24px 10%;

    h3 {
      font-size: 24px;
      line-height: 1.2;
      letter-spacing: 1px;
      font-weight: 400;

      &:after {
        content: " ";
        display: block;
        height: 2px;
        width: 28px;
        background-color: $black;
        margin-top: 10px;
      }
    }

    p {
      font-size: 15px;
      line-height: 1.4;
      margin: 0 0 30px;
      padding: 0;
    }

    .c_teaserBlock-cta {
      color: $black;
      border: 2px solid $black;
      padding: 7px 70px 7px 15px;
      display: inline-block;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 500;
      text-decoration: none;
    }

  }

}

/***** Promoted articles *****/

.promoted-articles {
  @include desktop { flex-direction: row; }
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &-item {
    @include desktop {
      align-self: flex-end;
      flex: 0 0 auto;
      padding-right: 30px;
      width: 33%; /* Three columns on desktop */

      [dir="rtl"] & { padding: 0 0 0 30px; }
    }

    flex: 1 0 auto;

    &:nth-child(3n) {
      padding-right: 0;
    }

    a {
      display: block;
      border-bottom: 1px solid $border-color;
      padding: 15px 0;
      color: $text_color;
    }

    .icon-lock::before {
      vertical-align: baseline;
    }

    &:last-child a {
      @include desktop {
        border-bottom: 1px solid $border-color;
      }

      border: 0;
    }
  }

}

/***** Community section in homepage *****/
.community {
  text-align: center;

  &-image {
    min-height: 300px;
    background-image: url($community_image);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
  }
}

.community,
.activity {
  border-top: 1px solid $border-color;
  padding: 30px 0;
}
