.c_pageHeader {

    margin: 0 0 48px;

    h2 {
        font-size: 30px;
        line-height: 50px;
        font-weight: normal;
        letter-spacing: 1px;
        text-align: center;
        margin: 0;
        padding: 0;
    }

}