/***** Search field *****/
.search {
  position: relative;

  input[type="search"] {
    border: 1px solid $border-color;
    border-radius: 30px;
    box-sizing: border-box;
    color: $field-text-color;
    height: 40px;
    padding-left: 40px;
    padding-right: 20px;
    -webkit-appearance: none;
    width: 100%;

    [dir="rtl"] & {
      padding-right: 40px;
      padding-left: 20px;
    }

    &:focus {
      border: 1px solid $brand_color;
      color: $field-text-focus-color;
    }
  }


  &::before {
    @extend .icon;
    @include vertical-align;
    background-color: #fff;
    color: #777;
    content: "\1F50D";
    font-size: 18px;
    position: absolute;
    left: 15px;

    [dir="rtl"] & {
      right: 15px;
      left: auto;
    }
  }

  &-full input[type="search"] {
    border: 1px solid #fff;
  }
}



.c_search-scoped {
  max-width: 760px;
  margin: 0 auto 128px;

  &.c_search-scoped--title {    
    margin-bottom: 48px;
  }

  h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;            
    letter-spacing: 1px;            
    color: $black;
    padding: 0;
    margin: 0 auto 32px;
    font-weight: normal;
    max-width: 570px;
    text-align: center;
  }

  .search {

    &:before {
      color: #737373;
    }
  
    input[type="search"] {
      border-radius: 0;
      border: 1px solid #d8d8d8;
      padding: 15px;
      padding-left: 42px;
      height: auto;
      font-size: 14px;
  
      &:focus {
        color: $black;          
      }
  
      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #737373;
        opacity: 1; /* Firefox */        
      }
      
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #737373;
      }
      
      &::-ms-input-placeholder { /* Microsoft Edge */
        color: #737373;
      }
  
    }

  }  

}